@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
}
/* SPLASH SCREEN */
body {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
}
#splash-body {
  color: rgb(107, 58, 17);
  background-image: url("/img/splash-background.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  background-size: cover;
}
#instructions-container {
  border-radius: 50px;
  width: 40%;
  height: auto;
  text-align: center;
  float: right;
  margin-right: 3rem;
  padding: 30px;
  background-color: rgba(247, 247, 233, 0.3);
}
#logo {
  width: 65%;
  height: auto;
}
#dropdown-container {
  float: center;
  width: 30%;
  margin: 15px;
}
select {
  font-family: "Press Start 2P", cursive;
  font-size: 11px;
  width: 250px;
  height: 30px;
  margin: 10px;
  padding-left: 10px;
  background-color: rgb(245, 245, 223);
  color: brown;
  border: 1px solid #ebf55c;
  border-radius: 20px;
}

.guide-container {
  float: bottom;
}

ul {
  line-height: 5px;
  font-size: 10px;
  list-style-type: none;
  text-align: left;
}

#start-button {
  font-family: "Press Start 2P", cursive;

  height: 60px;
  padding: 0 10px;
  background-color: #eef588;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;

  border-radius: 20px;
  border: 2px solid rgb(224, 122, 38);
}

#start-button:hover {
  color: rgb(224, 122, 38);
  background-color: #eef588;
  box-shadow: 5px 5px #5a5a3b;
}

.minis {
  width: 8%;
  height: auto;
}
/* GAME SCREEN */

#canvas-container {
  height: 800px;
}

.game-container {
  background-image: url("/img/background/bk1.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  width: 90vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* GAME OVER SCREEN */
.game-over {
  background-image: url("/img/background/bk5.jpeg");
  width: 100vw;
  height: 100vh;
}
#game-body {
  background-image: url("/img/body-background.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.position {
  padding: 1.5rem;
}
