@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
}
/* SPLASH SCREEN */
body {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  justify-content: space-evenly;
  color: rgb(107, 58, 17);
}
#splash-body {
  color: rgb(107, 58, 17);
  background-image: url("/img/splash-background.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
#instructions-container {
  border-radius: 50px;
  width: 40%;
  height: auto;
  text-align: center;
  float: right;
  margin-right: 3rem;
  padding: 30px;
  background-color: rgba(247, 247, 233, 0.3);
}
#logo {
  width: 50%;
  height: auto;
}
#dropdown-container {
  margin-top: 1rem;
  width: 100%;
  float: center;
  flex-wrap: wrap;
}
select {
  font-family: "Press Start 2P", cursive;
  font-size: 11px;
  width: 15rem;
  height: 2rem;
  margin: 10px;
  padding-left: 10px;
  background-color: rgb(245, 245, 223);
  color: brown;
  border: 1px solid #ebf55c;
  border-radius: 20px;
}

ul {
  line-height: 5px;
  font-size: 10px;
  list-style-type: none;
  text-align: left;
}

#start-button {
  font-family: "Press Start 2P", cursive;
  height: 60px;
  padding: 1rem 2rem;
  background-color: #eef588;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid rgb(224, 122, 38);
}

#start-button:hover {
  color: rgb(224, 122, 38);
  background-color: #eef588;
  box-shadow: 5px 5px #5a5a3b;
}
.guide-container {
  margin-top: 1rem;
  float: right;
}

.minis {
  width: 8%;
  height: auto;
}
/* GAME SCREEN */
#game-body {
  background-image: url("/img/body-background.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas-container {
  height: 100vh;
}

.position {
  display: inline-block;
  width: 20%;
  height: auto;
  padding: 2rem;
}

.game-container {
  background-image: url("/img/background/4.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* GAME OVER SCREEN */
.game-over {
  background-image: url("/img/game-over.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

#stats-container {
  border-radius: 50px;
  width: 40%;
  height: auto;
  text-align: center;
  vertical-align: center;
  margin-left: 20vh;
  background-color: rgba(247, 247, 233, 0.3);
}
.final-stats {
  margin: 4rem 0;
}
#title {
  font-size: 25px;
  padding: 2rem;
}

.restart-button {
  font-family: "Press Start 2P", cursive;
  height: 60px;
  padding: 1rem 2rem;
  background-color: #eef588;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid rgb(224, 122, 38);
  margin: 2rem;
}

.restart-button:hover {
  color: rgb(224, 122, 38);
  background-color: #eef588;
  box-shadow: 5px 5px #5a5a3b;
}
/* music & sounds */
#main-song {
  display: none;
}
#win {
  display: none;
}
